<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobMiner</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <form method="POST" action="{{ url_for('scrape') }}">
        <input name="jobtitle" type="text"
            class="form-input py-3 px-4 leading-5 rounded-md transition duration-150 ease-in-out bg-white border border-gray-300 placeholder-gray-500 rounded-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
            placeholder="Job title">
        <input name="location" type="text"
            class="form-input py-3 px-4 leading-5 rounded-md transition duration-150 ease-in-out bg-white border border-gray-300 placeholder-gray-500 rounded-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
            placeholder="Location">
        <button type="submit">search</button>
    </form>
    <table>
        <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Description</th>
        </tr>
        {% for job in job_listings %}
        <tr>
            <td>{{ job.title }}</td>
            <td>{{ job.location }}</td>
            <td>{{ job.description }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>